@import "../../utils/breakpoints";

.discount {
  background: linear-gradient(
      0deg,
      rgba(90, 92, 97, 0.05) 0%,
      rgba(90, 92, 97, 0.05) 100%
    ),
    #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #fff;

  &__content {
    max-width: 419px;
    margin: 133px 0 60px 0;
  }

  &__title {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 157%; /* 37.68px */
    margin: 0;
  }

  &__percent {
    background: -webkit-linear-gradient(45deg, #ab52ce 20%, #fe8687 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 118.966px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  &__info {
    color: rgba(90, 92, 97, 0.7);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%;
    margin: 0;
  }

  &__images {
    display: flex;
    align-items: flex-start;
    margin-top: 43px;
  }

  &__image-s {
    margin: 30px -75px 0 64px;
    width: 111.426px;
    height: 116.997px;
  }

  &__image-l {
    width: 325px;
    height: 341px;
  }
  @include sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px 0;
    &__content {
      margin: 0 0 65px;
    }

    &__title {
      font-size: 18.8px;
    }

    &__percent {
      font-size: 58.489px;
    }

    &__info {
      font-size: 14.622px;
    }
    &__images {
      display: none;
    }
  }
}
