@import "../../utils/breakpoints";

.team {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //   height: 1100px;
  position: relative;
  padding-bottom: 125px;
  &__title {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 157%;
    margin: 93px 0 89px;
    z-index: 2;
  }

  &__container {
    margin-top: 99.31px;
    display: flex;
    flex-direction: row;
    width: 1168px;
  }

  &__img {
    width: 307.331px;
    height: 362px;
    margin-right: 83px;
    z-index: 10;
  }

  &__info {
  }

  &__name {
    font-size: 33.635px;
    font-style: normal;
    font-weight: 500;
    line-height: 47.703px;
    margin: 29px 0 25px;
  }

  &__post {
    font-size: 20.181px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 86px;
    margin: 0;
  }

  &__proffesion {
    color: rgba(90, 92, 97, 0.7);
    font-size: 20.181px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  &__circle-img {
    position: absolute;
    z-index: 0;
    top: 642px;
    right: 97px;
  }

  &__test {
    position: absolute;
    z-index: 0;
    top: 587px;
    left: 0%;
  }

  @include sm {
	padding-bottom: 33px;
    &__title {
      font-size: 16.711px;
      width: 344.667px;
      margin: 67px 0 31px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      max-width: 267px;
    }

    &__img {
      width: 217.244px;
      height: 255.889px;
      margin: 0;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__name {
      text-align: center;
      font-size: 18.8px;
      line-height: 26.111px;
      margin: 28px 0 6px;
    }

    &__post {
      font-size: 14.622px;
      line-height: 26.111px;
      text-align: center;
      margin-bottom: 12px;
      width: 267.378px;
    }

    &__proffesion {
      font-size: 14.622px;
      text-align: center;
      width: 222.467px;
      height: 130.556px;
      br {
        display: none;
		&:nth-last-child(1){
		display: block;
	  }
      }
	  
    }

    &__circle-img {
      width: 300px;
      height: 308.108px;
	  top:500px;
	  right: -100px;
    }
    &__test {
      display: none;
    }
  }
}
