$text-color: #5a5c61;
$background-color: #fff;
$background-color-second: linear-gradient(
    0deg,
    rgba(90, 92, 97, 0.05) 0%,
    rgba(90, 92, 97, 0.05) 100%
  ),
  #fff;
$font-family-base: "Manrope";
$font-family-extra: "Minion Pro";
